#contato,
#servicos {
    display: grid;
    justify-content: center;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

#gasto_final {
    text-align: center;
    font-size: 30px;
}

#enviado {
    text-align: center;
    font-size: 20px;
}

body {
    background-image: url(IMG/wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
}

button {
    width: min-content;
}

h1 {
    text-align: center;
    font-size: 28px;
    background: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    padding: 15px;
    width: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

h3 {
    text-align: center;
    font-size: 18px;
}

img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

p {
    color: red;
    font-size: 14px;
    text-align: center;
}

.center {
    display: inline-flex;
    justify-content: center;
}